cff-version: 1.2.0
message: "If you use this registry, please cite the repository release."
title: "Awesome Multi-View Anomaly Detection"
type: dataset
authors:
  - family-names: "TODO"
    given-names: "TODO"
repository-code: "https://github.com/TODO/awesome-mvod"
license: "TODO"
version: "0.1.0"
date-released: "TODO"
